body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(255, 246, 247);
}

h2 {
  font-family: "Reddit Mono", monospace;
  color: rgb(89, 0, 89);
  text-decoration: underline;
}

p {
  font-family: "Open Sans", sans-serif;
}

.completed > p {
  text-decoration: line-through;
}

.complete {
  background-color: transparent;
  height: 15px;
  width: 15px;
  padding: 5px 5px;
  border: 1px solid rgb(89, 0, 89);
}

.delete {
  background-color: transparent;
  height: 15px;
  width: 15px;
  padding: 0px;
  margin: 0px;
  border: 0px solid black;
  color: rgb(151, 0, 0);
}

.completed > .complete {
  background-color: rgb(89, 0, 89);
}

.task {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
}

#create_todo {
  width: 50vw;
}

#new_todo {
  width: 90%;
  margin: 10px 0px;
  padding: 10px 0px;
  border: 0px solid black;
  border-bottom: 1px solid black;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 246, 247);
}

#new_todo_button {
  width: 8%;
  margin: 10px 0px;
  padding: 0px;
  background-color: transparent;
  border: 0px solid black;
  font-family: "Open Sans", sans-serif;
}
